<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="float:left">
        <div class="table-responsive">
            <div class="col-md-6">
                <img src="/Content/page-turning-book-animation-17.gif" class="img-responsive book" /> <h2>My Contacts  </h2>
            </div>
                <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-info" ng-click="setletter('')">ALL</button>
                    <button class="btn btn-info" ng-click="setletter('A')">A</button>
                    <button class="btn btn-info" ng-click="setletter('B')">B</button>
                    <button class="btn btn-info" ng-click="setletter('C')">C</button>
                    <button class="btn btn-info" ng-click="setletter('D')">D</button>
                    <button class="btn btn-info" ng-click="setletter('E')">E</button>
                    <button class="btn btn-info" ng-click="setletter('F')">F</button>
                    <button class="btn btn-info" ng-click="setletter('G')">G</button>
                    <button class="btn btn-info" ng-click="setletter('H')">H</button>
                    <button class="btn btn-info" ng-click="setletter('I')">I</button>
                    <button class="btn btn-info" ng-click="setletter('J')">J</button>
                    <button class="btn btn-info" ng-click="setletter('K')">K</button>
                    <button class="btn btn-info" ng-click="setletter('L')">L</button>
                    <button class="btn btn-info" ng-click="setletter('M')">M</button>
                    <button class="btn btn-info" ng-click="setletter('N')">N</button>
                    <button class="btn btn-info" ng-click="setletter('O')">O</button>
                    <button class="btn btn-info" ng-click="setletter('P')">P</button>
                    <button class="btn btn-info" ng-click="setletter('Q')">Q</button>
                    <button class="btn btn-info" ng-click="setletter('R')">R</button>
                    <button class="btn btn-info" ng-click="setletter('S')">S</button>
                    <button class="btn btn-info" ng-click="setletter('T')">T</button>
                    <button class="btn btn-info" ng-click="setletter('U')">U</button>
                    <button class="btn btn-info" ng-click="setletter('V')">V</button>
                    <button class="btn btn-info" ng-click="setletter('W')">W</button>
                    <button class="btn btn-info" ng-click="setletter('X')">X</button>
                    <button class="btn btn-info" ng-click="setletter('Y')">Y</button>
                    <button class="btn btn-info" ng-click="setletter('Z')">Z</button>
                </div>
            </div>
            <br />
            <div>
                <input type="text" class="form-control"  placeholder="Search for..." ng-model="search" ng-change="pageChanged()" />
            </div>
                <table class="table table-striped table-hover table-responsive"ta>
                <thead>
                    <tr>
                        <th>
                            <h4>First Name</h4>
                        </th>
                        <th>
                            <h4>Last Name</h4>
                        </th>
                        <th>
                            <h4>Address</h4>
                        </th>
                        <th>
                            <h4>Phone Number</h4>
                        </th>
                        <th>
                            <h4>Email</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in filteredcontacts" >
                        <td class="col-md-2 col-sm-2">
                            <p ng-show="edit">{{contact.FirstName}}</p>
                            <input class="col-xs-10" type="text"  ng-init="newcontact.FirstName = contact.FirstName" ng-model="newcontact.FirstName" ng-hide="edit"/>
                         </td>
                        <td class="col-md-2 col-sm-2">
                            <p ng-show="edit">{{contact.LastName}}</p>
                            <input class="col-xs-10" type="text"  ng-init="newcontact.LastName = contact.LastName" ng-model="newcontact.LastName" ng-hide="edit" /> 
                        </td>
                        <td class="col-md-2 col-sm-2">
                            <p ng-show="edit">{{contact.Address}}</p>
                            <input class="col-xs-10" type="text" ng-init="newcontact.Address = contact.Address" ng-model="newcontact.Address" ng-hide="edit" />
                         </td>
                        <td class="col-md-2 col-sm-2">
                            <p ng-show="edit">{{contact.PhoneNumber}}</p>
                            <input class="col-xs-9" type="text" ng-init="newcontact.PhoneNumber = contact.PhoneNumber" ng-model="newcontact.PhoneNumber" ng-hide="edit" /> 
                        </td>
                        <td class="col-md-2 col-sm-2">
                            <p ng-show="edit">{{contact.Email}}</p>
                            <input class="col-xs-9" type="text" ng-init="newcontact.Email = contact.Email" ng-model="newcontact.Email" ng-hide="edit" />
                        </td>
                        <td class="col-md-1 col-sm-1" style="text-align:center">
                            <button type="button" class="btn-success" ng-hide="edit" ng-click="editok(newcontact,contact)">
                            <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </td>
                        <td class="col-md-1 col-sm-1" style="text-align:center">
                            <button type="button" class="btn-danger" ng-hide="edit" ng-click="editcancel(newcontact,contact)">
                            <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td class="col-md-1 col-sm-1" style="text-align:center"><input type="button" class="btn-warning" ng-click="edit=false" value="Edit"></td>
                        <td class="col-md-1 col-sm-1" style="text-align:center"><input type="button" class="btn-danger" ng-click="delete(contact)" value="Delete"></td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination total-items="contacts.length" items-per-page="pageSize" ng-model="currentPage" ng-change="getpage()"></ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >      
        <form name="AddContactForm" ng-submit="add()">
            <fieldset>
                <div class="form-group col-xs-9 col-md-offset-2">
                    <h2>Add a new Contact</h2>
                    <div ng-hide="added == '' " class="alert alert-dismissible alert-success">
                        <a href="#" class="alert-link">{{added}}</a>    
                    </div>
                    <label class="control-label col-md-4 col-sm-1" for="Fname">First Name</label>
                    <input type="text" class="form-control" id="Fname" ng-model="newcontact.fname" />
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-1" for="Lname">Last Name</label>
                        <input type="text" class="form-control" id="Lname" name="lname" ng-model="newcontact.lname" required />
                        <p ng-show="AddContactForm.lname.$invalid" class="help-block">A Last name is required.</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-1" for="Address">Address</label>
                        <input type="text" class="form-control" id="Address" ng-model="newcontact.address" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-1" for="Pnumber">Phone Number</label>
                        <input type="number" class="form-control" id="Pnumber" ng-model="newcontact.pnumber" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-1" for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" ng-model="newcontact.email" />
                    </div>
                    <button type="submit" class="btn btn-default" ng-disabled="AddContactForm.$invalid">Add</button>
                </div>
            </fieldset>
        </form> 
    </div>
