<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
<div class="jumbotron"> 
    <h1>My Phone Book</h1> 
    <p>My Phone Book is an online place you can store all of your everyday contacts</p>
</div>
    <div class="col-md-4 col-xs-8 col-sm-4">
        <h3>1.Register with your email</h3>
        <a href="#/Register" class="img-thumbnail text-center"> <img class="img-responsive " src="/Content/register.jpg"/> </a>
    </div>
    <div class="col-md-4 col-xs-8 col-sm-4">
        <h3>2.Login</h3>
        <a href="#/Login" class="img-thumbnail text-center"> <img class="img-responsive" width="320" src="/Content/login.jpg" /> </a>
    </div>
    <div class="col-md-4 col-xs-8 col-sm-4">
        <h3>3.Start Adding your Contacts</h3>
        <a href="#/Login" class="img-thumbnail text-center"> <img class="img-responsive" width="260" src="/Content/book.jpg" /> </a>
    </div>
</body>
</html>
